@import url("https://fonts.googleapis.com/css2?family=Alatsi&family=Montserrat:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alatsi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

body {
	padding: 0;
	margin: 0;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #333333;
	position: relative;
	height: 100vh;
	font-family: "Montserrat", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
	padding: 0.5rem 1.5rem;
	transition: background-color, color;
	transition-duration: 0.3s;
	font-family: "Montserrat", sans-serif;
}

a:hover {
	background-color: #f1d8d8;
	color: #333333;
}

nav {
	padding-top: 1rem;
	align-self: flex-end;
	transition-duration: 1000ms;
	transition-timing-function: ease-in-out;
}

.nav-home {
	height: 6%;
	position: fixed;
}

.nav-secondary {
	flex: 0;
	height: 6%;
	padding-right: calc(100vw - 64%);
	position: fixed;
}

ul {
	text-decoration: none;
	list-style: none;
	justify-content: flex-end;
	align-items: center;
	gap: 3rem;
	margin: 0;
	padding-right: 2rem;
	padding-top: 0.7rem;
	color: #f1d8d8;
	font-size: 1.7rem;
}

.hero {
	background-color: #333333;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar-list {
	display: flex;
}

.imgsrc {
	background-color: #333333;
	object-fit: cover;
	height: 100vh;
	width: 50%;
}

.hero-text {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.main-text {
	font-family: "Alatsi", sans-serif;
	font-size: 6rem;
	color: #f1d8d8;
	letter-spacing: 1rem;
}

.desc-text {
	color: #f1d8d8;
	font-size: 2rem;
	font-style: italic;
}

.menu-content {
	padding-top: 5%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
	grid-auto-rows: 45%;
	gap: 1.5rem 0;
}

.menu-card {
	display: flex;
	width: 76%;
	height: 100%;
	background-color: #f1d8d8;
	border-radius: 1rem;
	align-items: center;
	overflow: hidden;
}

.menu-img {
	min-width: 50%;
	height: 95%;
	object-fit: cover;
	padding-left: 0.5rem;
	border-radius: 1rem;
}

.menu-item-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 1.5rem;
}

.menu-item-title {
	font-size: 2.5rem;
	letter-spacing: 0.2rem;
	margin: 0;
}

.menu-item-description {
	font-size: 1.5rem;
}

.menu-item-price {
	margin-top: 0;
	font-size: 1.5rem;
	font-weight: bold;
}

.about-container {
	align-items: center;
	justify-items: center;
	display: grid;
	grid-template-columns: 0.3fr repeat(3, 1fr);
	grid-template-rows: 0.5fr 1fr;
	margin: 10rem 20rem;
}

.about-title-container {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-row: 1 / -1;
	width: 100%;
	height: 100%;
	background-color: #f1d8d8;
}

.about-title {
	font-size: 5.5rem;
	font-weight: 600;
	text-align: center;
}

.about-text {
	grid-column: 2 / -1;
	font-size: 3.5rem;
	text-align: center;
	padding-right: 0 2rem;
	font-style: italic;
	color: #f1d8d8;
	margin-bottom: 3rem;
}

.about-img {
	width: 100%;
	overflow: hidden;
}

.about-img-container {
	grid-column: 2 / -1;
	display: flex;
	border-bottom: solid #f1d8d8 0.5rem;
	border-right: solid #f1d8d8 0.5rem;
}
